* {
  margin: 10px;
  text-align: center;
}
body {
  background-color:turquoise;
}
.calculator {
  margin:0 auto;
  width: 500px;
  height: 400px;
  background-color: springgreen;
  box-shadow: 0px 0px 0px 10px #666;
  border: 5px solid black;
  border-radius: 10px;
}
#display {
  width: 450px;
  height: 50px;
  text-align: right;
  background-color: white;
  border: 3px solid black;
  font-size: 20px;
  left: 2px;
  top: 2px;
  color: black;
}
.btnTop{
  color: white;
  background-color: #6f6f6f;
  font-size: 15px;
  margin: auto;
  width: 80px;
  height: 35px;
}
.btnNum:hover { 
  color:green; 
}
.btnNum {
  color: white;
  background-color: black;
  font-size: 15px;
  margin: auto;
  width: 80px;
  height: 35px;
}
.btnMath {
  color: white;
  background-color: #ff4561;
  font-size: 15px;
  margin: auto;
  width: 80px;
  height: 35px;
}
.btnOpps {
  color: white;
  background-color: #ff9933;
  font-size: 15px;
  margin: auto;
  width: 80px;
  height: 35px;
}
